body {
	margin-top: 50px;
}

.activity-title {
	color:#47133E ;
	font-size: 2em;
	font-weight: bold;
}

.activity-short-desc {
	padding-bottom: 5px;
}

.activity-date-time {
	font-weight: bold;
	padding-bottom: 10px;
}

.contact-section-head  {
	font-weight: bold;
	color: #47133E;
	font-size: 2em;
	padding-top: 10px;
}

.contacts tr {
	padding: 10px !important;
}

.contacts tr td {
	padding: 10px !important;
	}

.profile-photo {
	width: 100px;
	height: auto;
}

.contact-photo {
	float: left;
	margin-right: 10px;
}

.contact-information {
	float: right;
}

.contact-function {
	font-weight: bold;
}

.spacer {
	height: 10px;
}

.carousel {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse {
    background-color: #337AB7;
    border-color: #286DA8;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #286DA8;
}

.navbar-nav li ul li a {
    color: #000000 !important;
}

.navbar-nav li a {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}
